@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pixel';
  src: url('./font/x12y16pxMaruMonica.ttf') format('truetype');
}

:root {
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

select {
  padding: 6px 32px 6px 12px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #fff;
  background-image: url(../public/assets/ui/select-arrow.svg);
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  appearance: none;
  font-size: 14px;
  color: #111;
}

.card1-animation {
  transform: translate(50%, -50%) rotate(20deg);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card2-animation {
  transform: translate(0%, -60%) rotate(10deg);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card3-animation {
  transform: translate(-50%, -63%);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card4-animation {
  transform: translate(-100%, -60%) rotate(-10deg);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card5-animation {
  transform: translate(-150%, -50%) rotate(-20deg);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
